@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

body, div, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
  color: #555;
  font-size: 18px;
  font-family: 'EB Garamond', serif;
}

body, div, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 22px;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #000;
  border-bottom: #2E86AB solid 3px;
}

.wrapper {
  max-width: 960px;
  margin: 4em auto;
}

.header, .footer {
  text-align: right;
  padding-right: 1em;
  border-right: double #6B0F1A 10px;
  margin: 3em 1em;
}

.work {
  padding-left: 1em;
  border-left: double #6B0F1A 10px;
  margin: 0 1em 3em;
}

.work h1 {
  margin-bottom: 1em;
}

.work p {
  font-size: 1.4em;
  margin-bottom: .8em;
}

.footer h2 {
  margin-bottom: .3em;
}

.text {
  max-width: 800px;
  margin: 0 auto;
}

.text p {
  margin: 0 2em;
}

.axis path, .axis line {
  visibility: hidden;
}

.name a {
  color: #2E86AB;
}

.name a:hover {
  border-bottom: none;
}

img {
  width: 640px;
}
